@model Capstone.Models.ViewModels.Profile.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/css/profile.css" />


<div class="row bg-black justify-content-center align-items-center py-md-3 p-4 px-md-0">
    <div class="col-12 col-md-8 bg ">
         <h1 class="text-center text-white ">Scheda profilo</h1>
         <hr class="mt-2 mb-4 myText"/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 position-relative my-3 my-md-0">
                <div class="d-flex justify-content-center position-sticky" style="top:90px">
                    @if (Model.User != null && Model.User.Img != null && Model.User.Img.Length > 0)
                    {
                        var base64String = Convert.ToBase64String(Model.User.Img);
                        var imgSrc = $"data:image/png;base64,{base64String}";
                        <img src="@imgSrc" alt="Img Profile" class="img-fluid" style="border-radius:15px" />
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    <h4 class="text-white">Username</h4>
                    <p class="myText">@Model.User.Username</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Email</h4>
                    <p class="myText">@Model.User.Email</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Password</h4>
                    <p class="myText">********</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Nome</h4>
                    <p class="myText">@Model.User.Name</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Cognome</h4>
                    <p class="myText">@Model.User.Surname</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Data di nascita</h4>
                    <p class="myText">@Model.User.BirthDate.ToString("dd/MM/yyyy")</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Sesso</h4>
                    <p class="myText">@Model.User.Gender</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Paese</h4>
                    <p class="myText">@Model.User.Country</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Città</h4>
                    <p class="myText">@Model.User.City</p
                </div>
                <div class="mt-4">
                    <h4 class="text-white">CAP</h4>
                    <p class="myText">@Model.User.PostalCode</p>
                </div>
                <div class="mt-4">
                    <h4 class="text-white">Telefono</h4>
                    <p class="myText">@Model.User.PhoneNum</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 bg">
                <h3 class="mb-3 text-white">Aggiorna generi musicali preferiti</h3>
                    <form asp-action="UpdateFavoriteGenres" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                    @if (ViewBag.AvailableGenres != null && ViewBag.AvailableGenres.Count > 0)
                    {
                        <div id="genresCheckboxes" style="max-height: 200px; overflow-y: auto;">
                            @foreach (var genre in ViewBag.AvailableGenres)
                            {
                                var isChecked = Model.SelectedGenreIds.Contains(genre.GenreId);
                                <div class="form-check form-check-inline">
                                    <input type="checkbox"
                                           class="form-check-input d-none"
                                           id="genre-@genre.GenreId"
                                           name="SelectedGenreIds"
                                           value="@genre.GenreId"
                                           @(isChecked ? "checked" : "") />
                                    <label class="btn eventBtn" for="genre-@genre.GenreId">
                                        @genre.Name
                                    </label>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p>No genres available</p>
}
                    </div>
                    <div class="form-group mt-3 ">
                        <input type="submit" value="Aggiorna" class="btn-danger myBtnCart" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 bg">
                <h3 class="mb-3 text-white">Aggiorna immagine del profilo</h3>
                <form asp-action="UpdateProfileImage" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="text-white" for="imageFile">Seleziona un'immagine:</label>
                        <input type="file" id="imgInput" name="imageFile" class="form-control d-none" />
                    </div>
                    <div class="mt-2">
                            <!-- Collegare la label con for="imgInput" all'input -->
                            <label for="imgInput" class="editBtn ms-1" style="cursor:pointer">Scegli file</label>
                        </div>
                    <img id="imgPreview" src="#" alt="Anteprima immagine" class="img-fluid mt-2 d-none" style="height: 200px; width:200px; object-fit:contain;" />


                    <div class="form-group mt-1">
                        <input type="submit" value="Aggiorna" class="btn-danger myBtnCart mt-4" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 bg">
                <h3 class="mb-3 text-white">Aggiorna indirizzo email</h3>
                <form asp-action="ChangeEmail" method="post">
                    <input type="hidden" asp-for="User.UserId" />
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="User.Email" class="control-label text-white">Vecchio indirizzo email</label>
                            <input asp-for="User.Email" type="text" class="form-control inputBar" readonly />
                        </div>
                        <div class="col-6">
                            <label asp-for="NewEmail" class="control-label text-white">Nuovo indirizzo email</label>
                            <input asp-for="NewEmail" type="email" class="form-control inputBar" />
                            <span asp-validation-for="NewEmail" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group mt-1">
                        <input type="submit" value="Aggiorna" class="btn-danger myBtnCart mt-2" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 bg">
                <h3 class="mb-3 text-white">Aggiorna password</h3>
                <form asp-action="ChangePassword" method="post">
                    <input type="hidden" asp-for="User.UserId" />
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="OldPassword" class="control-label text-white">Vecchia password</label>
                            <input asp-for="OldPassword" type="password" class="form-control inputBar" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="NewPassword" class="control-label text-white">Nuova password</label>
                            <input asp-for="NewPassword" type="password" class="form-control inputBar" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group mt-1">
                        <input type="submit" value="Aggiorna" class="btn-danger myBtnCart mt-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/profile.js"></script>