@model IEnumerable<Capstone.Models.Event>

@{
    ViewBag.Title = "Event List";
}

<h2>Event List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date From</th>
            <th>Date To</th>
            <th>Host Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventItem in Model)
        {
            <tr>
                <td>@eventItem.Name</td>
                <td>@eventItem.Description</td>
                <td>@eventItem.DateFrom.ToShortDateString()</td>
                <td>@eventItem.DateTo.ToShortDateString()</td>
                <td>@eventItem.HostName</td>
                <td>@eventItem.Location?.LocationName</td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", "Event", new { id = eventItem.EventId })">Details</a>
                    <a class="btn btn-warning" href="@Url.Action("Edit", "Event", new { id = eventItem.EventId })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Event", new { id = eventItem.EventId })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("Create", "Event")">Create New Event</a>
